In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
train_data = pd.read_csv("train.csv")

In [4]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
test_data = pd.read_csv("test.csv")

In [6]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
X_train = train_data.iloc[:,:-1]
X_train.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal

In [8]:
y_train = train_data["SalePrice"]
y_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [9]:
X = train_data.iloc[:,:-1]

In [10]:
X["Alley"].fillna("NoAlley",inplace = True)
X["PoolQC"].fillna("NoPool",inplace = True)
X["Fence"].fillna("NoFence",inplace = True)
X["MiscFeature"].fillna("NoMisc",inplace = True)

X.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1455,1456,60,RL,62.0,7917,Pave,NoAlley,Reg,Lvl,AllPub,...,0,0,NoPool,NoFence,NoMisc,0,8,2007,WD,Normal
1456,1457,20,RL,85.0,13175,Pave,NoAlley,Reg,Lvl,AllPub,...,0,0,NoPool,MnPrv,NoMisc,0,2,2010,WD,Normal
1457,1458,70,RL,66.0,9042,Pave,NoAlley,Reg,Lvl,AllPub,...,0,0,NoPool,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,20,RL,68.0,9717,Pave,NoAlley,Reg,Lvl,AllPub,...,0,0,NoPool,NoFence,NoMisc,0,4,2010,WD,Normal
1459,1460,20,RL,75.0,9937,Pave,NoAlley,Reg,Lvl,AllPub,...,0,0,NoPool,NoFence,NoMisc,0,6,2008,WD,Normal

In [11]:
x = train_data.iloc[:,:-1]

In [12]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy ='most_frequent')
#features = ["Alley","PoolQC","Fence","MiscFeature"]
imputer.fit(x)
x = imputer.transform(x)
x

array([[1, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       [2, 20, 'RL', ..., 2007, 'WD', 'Normal'],
       [3, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       ...,
       [1458, 70, 'RL', ..., 2010, 'WD', 'Normal'],
       [1459, 20, 'RL', ..., 2010, 'WD', 'Normal'],
       [1460, 20, 'RL', ..., 2008, 'WD', 'Normal']], dtype=object)

In [13]:
y_train.to_numpy()

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

In [14]:
new_x = test_data.iloc[:,:-1]
new_x

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,6,2010,WD
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,144,0,NaN,NaN,NaN,0,1,2010,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,6,2006,WD
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,9,2006,WD
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,MnPrv,Shed,700,7,2006,WD
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,11,2006,WD

In [15]:
new_y = np.array(test_data.iloc[:,-1])
new_y

array(['Normal', 'Normal', 'Normal', ..., 'Abnorml', 'Normal', 'Normal'],
      dtype=object)

In [16]:
new_y.size

1459

In [17]:
new_x.size

115261

In [18]:
new_y.size

1459

In [19]:
test_data.size

116720

In [20]:
new_x = test_data.iloc[:,:-1]

In [21]:
new_x.size

115261

In [22]:
new_x

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,6,2010,WD
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,144,0,NaN,NaN,NaN,0,1,2010,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,6,2006,WD
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,9,2006,WD
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,MnPrv,Shed,700,7,2006,WD
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,11,2006,WD

In [23]:
new_x.shape

(1459, 79)

In [24]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer.fit(new_x)
new_x= imputer.transform(new_x)
new_x

array([[1461, 20, 'RH', ..., 6, 2010, 'WD'],
       [1462, 20, 'RL', ..., 6, 2010, 'WD'],
       [1463, 60, 'RL', ..., 3, 2010, 'WD'],
       ...,
       [2917, 20, 'RL', ..., 9, 2006, 'WD'],
       [2918, 85, 'RL', ..., 7, 2006, 'WD'],
       [2919, 60, 'RL', ..., 11, 2006, 'WD']], dtype=object)

In [25]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(new_x)

enc.transform(new_x).toarray()
new_x

array([[1461, 20, 'RH', ..., 6, 2010, 'WD'],
       [1462, 20, 'RL', ..., 6, 2010, 'WD'],
       [1463, 60, 'RL', ..., 3, 2010, 'WD'],
       ...,
       [2917, 20, 'RL', ..., 9, 2006, 'WD'],
       [2918, 85, 'RL', ..., 7, 2006, 'WD'],
       [2919, 60, 'RL', ..., 11, 2006, 'WD']], dtype=object)

In [26]:
new_x = pd.DataFrame(new_x)

In [27]:
new_x

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,1461,20,RH,80,11622,Pave,Grvl,Reg,Lvl,AllPub,...,0,120,0,Ex,MnPrv,Shed,0,6,2010,WD
1,1462,20,RL,81,14267,Pave,Grvl,IR1,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Gar2,12500,6,2010,WD
2,1463,60,RL,74,13830,Pave,Grvl,IR1,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,3,2010,WD
3,1464,60,RL,78,9978,Pave,Grvl,IR1,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,6,2010,WD
4,1465,120,RL,43,5005,Pave,Grvl,IR1,HLS,AllPub,...,0,144,0,Ex,MnPrv,Shed,0,1,2010,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21,1936,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,6,2006,WD
1455,2916,160,RM,21,1894,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,4,2006,WD
1456,2917,20,RL,160,20000,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,9,2006,WD
1457,2918,85,RL,62,10441,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,700,7,2006,WD
1458,2919,60,RL,74,9627,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,Ex,MnPrv,Shed,0,11,2006,WD

In [29]:
from sklearn.preprocessing import LabelEncoder
temp =new_x.apply(LabelEncoder().fit_transform)

In [30]:
temp

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,0,0,2,56,777,1,0,3,3,0,...,0,18,0,0,2,2,0,5,4,8
1,1,0,3,57,964,1,0,0,3,0,...,0,0,0,0,2,0,24,5,4,8
2,2,5,3,50,947,1,0,0,3,0,...,0,0,0,0,2,2,0,2,4,8
3,3,5,3,54,587,1,0,0,3,0,...,0,0,0,0,2,2,0,5,4,8
4,4,11,3,19,118,1,0,0,1,0,...,0,27,0,0,2,2,0,0,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,13,4,0,19,1,0,3,3,0,...,0,0,0,0,2,2,0,5,0,8
1455,1455,13,4,0,17,1,0,3,3,0,...,0,0,0,0,2,2,0,3,0,8
1456,1456,0,3,112,1069,1,0,3,3,0,...,0,0,0,0,2,2,0,8,0,8
1457,1457,9,3,38,647,1,0,3,3,0,...,0,0,0,0,2,2,12,6,0,8
1458,1458,5,3,50,536,1,0,3,3,0,...,0,0,0,0,2,2,0,10,0,8

In [31]:
temp.to_numpy()

array([[   0,    0,    2, ...,    5,    4,    8],
       [   1,    0,    3, ...,    5,    4,    8],
       [   2,    5,    3, ...,    2,    4,    8],
       ...,
       [1456,    0,    3, ...,    8,    0,    8],
       [1457,    9,    3, ...,    6,    0,    8],
       [1458,    5,    3, ...,   10,    0,    8]])

In [32]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(new_y)
new_y = enc.transform(new_y)
new_y

array([4, 4, 4, ..., 0, 4, 4])

In [33]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(temp, new_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(temp, new_y)

C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:

y_pred = classifier.predict(temp)
y_pred

array([4, 4, 4, ..., 4, 4, 4])

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(new_y,y_pred)

0.9040438656614119

In [37]:
x_train = train_data.iloc[:,:-1].values
y_train = train_data.iloc[:,-1].values
x_train

array([[1, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       [2, 20, 'RL', ..., 2007, 'WD', 'Normal'],
       [3, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       ...,
       [1458, 70, 'RL', ..., 2010, 'WD', 'Normal'],
       [1459, 20, 'RL', ..., 2010, 'WD', 'Normal'],
       [1460, 20, 'RL', ..., 2008, 'WD', 'Normal']], dtype=object)

In [38]:
x_train.size

116800

In [39]:
y_train.size

1460

In [40]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(y_train)
y_train = enc.transform(y_train)

In [41]:
y_train

array([412, 339, 442, ..., 527, 199, 221], dtype=int64)

In [46]:
x_train = pd.DataFrame(x_train)

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer.fit(x_train)
new_x= imputer.transform(x_train)
x_train

In [43]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(x_train)
x_train = imputer.transform(x_train)

In [44]:
x_train

array([[1, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       [2, 20, 'RL', ..., 2007, 'WD', 'Normal'],
       [3, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       ...,
       [1458, 70, 'RL', ..., 2010, 'WD', 'Normal'],
       [1459, 20, 'RL', ..., 2010, 'WD', 'Normal'],
       [1460, 20, 'RL', ..., 2008, 'WD', 'Normal']], dtype=object)

In [47]:
from sklearn.preprocessing import LabelEncoder
the_x =x_train.apply(LabelEncoder().fit_transform)

In [48]:
the_x =

In [49]:
the_x

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,0,5,3,36,327,1,0,3,3,0,...,0,0,0,2,2,2,0,1,2,8
1,1,0,3,51,498,1,0,3,3,0,...,0,0,0,2,2,2,0,4,1,8
2,2,5,3,39,702,1,0,0,3,0,...,0,0,0,2,2,2,0,8,2,8
3,3,6,3,31,489,1,0,0,3,0,...,0,0,0,2,2,2,0,1,0,8
4,4,5,3,55,925,1,0,0,3,0,...,0,0,0,2,2,2,0,11,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,5,3,33,267,1,0,3,3,0,...,0,0,0,2,2,2,0,7,1,8
1456,1456,0,3,56,866,1,0,3,3,0,...,0,0,0,2,2,2,0,1,4,8
1457,1457,6,3,37,415,1,0,3,3,0,...,0,0,0,2,0,2,17,4,4,8
1458,1458,0,3,39,505,1,0,3,3,0,...,0,0,0,2,2,2,0,3,4,8
1459,1459,0,3,46,532,1,0,3,3,0,...,0,0,0,2,2,2,0,5,2,8

In [50]:
the_x.to_numpy()

array([[   0,    5,    3, ...,    1,    2,    8],
       [   1,    0,    3, ...,    4,    1,    8],
       [   2,    5,    3, ...,    8,    2,    8],
       ...,
       [1457,    6,    3, ...,    4,    4,    8],
       [1458,    0,    3, ...,    3,    4,    8],
       [1459,    0,    3, ...,    5,    2,    8]])

In [51]:
y_train

array([412, 339, 442, ..., 527, 199, 221], dtype=int64)

In [52]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100,criterion ='entropy' , random_state=0)
classifier.fit(the_x,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [53]:
y_pred = classifier.predict(the_x)

In [54]:
y_pred

array([412, 339, 442, ..., 527, 199, 221], dtype=int64)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,y_pred)

1.0

In [56]:
x_test = test_data

In [57]:
x_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [58]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(x_test)
x_test = imputer.transform(x_test)

In [59]:
x_test = pd.DataFrame(x_test)

In [60]:
from sklearn.preprocessing import LabelEncoder
test_x =x_test.apply(LabelEncoder().fit_transform)

In [61]:
test_x

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,0,0,2,56,777,1,0,3,3,0,...,18,0,0,2,2,0,5,4,8,4
1,1,0,3,57,964,1,0,0,3,0,...,0,0,0,2,0,24,5,4,8,4
2,2,5,3,50,947,1,0,0,3,0,...,0,0,0,2,2,0,2,4,8,4
3,3,5,3,54,587,1,0,0,3,0,...,0,0,0,2,2,0,5,4,8,4
4,4,11,3,19,118,1,0,0,1,0,...,27,0,0,2,2,0,0,4,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,13,4,0,19,1,0,3,3,0,...,0,0,0,2,2,0,5,0,8,4
1455,1455,13,4,0,17,1,0,3,3,0,...,0,0,0,2,2,0,3,0,8,0
1456,1456,0,3,112,1069,1,0,3,3,0,...,0,0,0,2,2,0,8,0,8,0
1457,1457,9,3,38,647,1,0,3,3,0,...,0,0,0,2,2,12,6,0,8,4
1458,1458,5,3,50,536,1,0,3,3,0,...,0,0,0,2,2,0,10,0,8,4

In [62]:
test_x.to_numpy()

array([[   0,    0,    2, ...,    4,    8,    4],
       [   1,    0,    3, ...,    4,    8,    4],
       [   2,    5,    3, ...,    4,    8,    4],
       ...,
       [1456,    0,    3, ...,    0,    8,    0],
       [1457,    9,    3, ...,    0,    8,    4],
       [1458,    5,    3, ...,    0,    8,    4]])

In [64]:
final_X = train_data.iloc[:,:-1]
final_y = train_data.iloc[:,-1]

In [65]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(final_X)
final_X = imputer.transform(final_X)

In [66]:
final_X = pd.DataFrame(final_X)

In [68]:
from sklearn.preprocessing import LabelEncoder
final_x =final_X.apply(LabelEncoder().fit_transform)

In [70]:
final_x.to_numpy()

array([[   0,    5,    3, ...,    2,    8,    4],
       [   1,    0,    3, ...,    1,    8,    4],
       [   2,    5,    3, ...,    2,    8,    4],
       ...,
       [1457,    6,    3, ...,    4,    8,    4],
       [1458,    0,    3, ...,    4,    8,    4],
       [1459,    0,    3, ...,    2,    8,    4]])

In [72]:
final_y.to_numpy()

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

In [73]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=10,random_state=0)
regressor.fit(final_x,final_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [74]:
final_test = test_data

In [76]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(final_test)
final_test = imputer.transform(final_test)

In [77]:
final_test  = pd.DataFrame(final_test)

In [78]:
from sklearn.preprocessing import LabelEncoder
final_Test =final_test.apply(LabelEncoder().fit_transform)

In [79]:
final_Test

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,0,0,2,56,777,1,0,3,3,0,...,18,0,0,2,2,0,5,4,8,4
1,1,0,3,57,964,1,0,0,3,0,...,0,0,0,2,0,24,5,4,8,4
2,2,5,3,50,947,1,0,0,3,0,...,0,0,0,2,2,0,2,4,8,4
3,3,5,3,54,587,1,0,0,3,0,...,0,0,0,2,2,0,5,4,8,4
4,4,11,3,19,118,1,0,0,1,0,...,27,0,0,2,2,0,0,4,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,13,4,0,19,1,0,3,3,0,...,0,0,0,2,2,0,5,0,8,4
1455,1455,13,4,0,17,1,0,3,3,0,...,0,0,0,2,2,0,3,0,8,0
1456,1456,0,3,112,1069,1,0,3,3,0,...,0,0,0,2,2,0,8,0,8,0
1457,1457,9,3,38,647,1,0,3,3,0,...,0,0,0,2,2,12,6,0,8,4
1458,1458,5,3,50,536,1,0,3,3,0,...,0,0,0,2,2,0,10,0,8,4

In [80]:
y_pred = regressor.predict(final_Test)

In [82]:
y_pred = pd.DataFrame(y_pred,columns=['SalePrice'])

In [83]:
y_pred

      SalePrice
0      121425.0
1      150590.0
2      172507.2
3      190200.0
4      212150.0
...         ...
1454    90870.0
1455    93700.0
1456   160270.0
1457   117812.5
1458   257021.0

[1459 rows x 1 columns]

In [84]:
ids = test_data["Id"]

In [85]:
ids

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [87]:
ids = pd.DataFrame(ids,columns = ['Id'])

In [88]:
ids

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [89]:
result = ids.join(y_pred)

In [90]:
result

        Id  SalePrice
0     1461   121425.0
1     1462   150590.0
2     1463   172507.2
3     1464   190200.0
4     1465   212150.0
...    ...        ...
1454  2915    90870.0
1455  2916    93700.0
1456  2917   160270.0
1457  2918   117812.5
1458  2919   257021.0

[1459 rows x 2 columns]

In [100]:
result.to_csv('result1.csv',index=False)